@model Projeto.Presentation.Models.AccountRegisterModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-3 col-md-4">
        <h3>Criar Conta de Usuário</h3>
        @using (Html.BeginForm())
        {
            <label>Nome do Usuário:</label>
            @Html.TextBoxFor(model => model.Nome,
        new
        {
        @class = "form-control col-md-4"
        })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
            <br />
            <label>Email de Acesso:</label>
            @Html.TextBoxFor(model => model.Email,
        new
        {
        @class = "form-control col-md-4"
        })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Email)
            </span>
            <br />
            <label>Senha de Acesso:</label>
            @Html.PasswordFor(model => model.Senha,
        new
        {
        @class = "form-control col-md-4"
        })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Senha)
            </span>
            <br />
            <label>Confirme sua Senha:</label>
            @Html.PasswordFor(model => model.SenhaConfirmacao,
        new
        {
        @class = "form-control col-md-4"
        })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.SenhaConfirmacao)
            </span>

            <div class="mt-2">
            <input type="submit" class="btn btn-sm btn-dark"
               value="Realizar Cadastro" />
            <a href="/Account/Login" class="btn btn-sm btn-secondary">
                Acessar Sistema
            </a>
            </div>
        }
    </div>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>